<button class="btn btn-lg btn-primary btn-block" (click)="generate()" type="button">Generate PDF</button>   
<table class="table table-bordered table-striped table-actions">
  <thead>
    <tr>
      <th>
         Name
      </th>
      <th>
          User
      </th>
      <th>
         Email
      </th>
      
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let item of userGriViewList" >
      <td>{{item.name}}</td>
      <td>{{item.username}}</td>
      <td>{{item.email}}</td>
    </tr>
    <tr *ngIf="!userGriViewList">
      <td colspan="10" class="text-center"><h6>NO DATA FOUND</h6></td>
    </tr>
  </tbody>
</table>